/* Top bar styling */
.topbar {}

/* Drop down menu styling */
.sub-menu-parent {
  position: relative;
}

.sub-menu {
  background: #DDD;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.sub-menu-parent:focus .sub-menu, .sub-menu-parent:focus-within .sub-menu, .sub-menu-parent:hover .sub-menu {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

body {
  padding: 1%;
  font: 18px/1.4 sans-serif;
}

nav a {
  color: #000;
  display: block;
  padding: 0.5em 1em;
  text-decoration: none;
}

nav a:hover {
  color: #6D6D6D;
}

nav ul, nav ul li {
  list-style-type: none;
  padding: 0;
  margin: 0; }

nav > ul {
  background: #EEE;
  text-align: center;
}

nav > ul > li {
  display: inline-block;
  border-left: solid 1px #aaa;
}

nav > ul > li:first-child {
  border-left: none;
}
