@charset "UTF-8";

/* Page setup */
html, body {
  height: 100%;
  background-color: transparent;
  margin: 0px;
  padding: 0px;
  font-size: 100%; /* For relative (em scale) font sizes: 1em = 100% = browser default font size */
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}

/* Manual override for the tasks and timetable background colour */
.other-body {
  background-color: #2F2F2F;
}


/* Drop shadow effect for elements with this class assigned*/
.drop-shadow {
  -moz-box-shadow: 0 0 30px 5px #0E0E0E;
  -webkit-box-shadow: 0 0 30px 5px #0E0E0E;
}

/* Top bar setup */
.topbar {
  width: 100%;
  height: 75px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: 0px auto;
  z-index: 2;
  display: block;
  background-color: #202020;
}

/* Menu */
#menu-wrapper {
  float: left;
}

/* Menu links */
#menu-wrapper a {
  color: #E6E6E6;
  display: block;
  padding: 0.5em 1em;
  text-decoration: none;
  font-family: "Nunito", cursive;
  font-size: 1em;
  transition: 0.125s;
}

/* Change colour on hover */
#menu-wrapper a:hover {
  color: #ff3b3b;
}

#menu-wrapper ul, #menu-wrapper ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#menu-wrapper > ul {
  background: #202020;
  text-align: left;
  width: 100%;
}

#menu-wrapper > ul > li {
  display: block;
  border-left: none;
}

#menu-wrapper > ul > li:first-child {
  border-left: none;
}

.sub-menu-parent {
  position: relative;
}

.sub-menu {
  visibility: hidden;
  background: #202020;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 150%;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.sub-menu-parent:focus .sub-menu, .sub-menu-parent:focus-within .sub-menu, .sub-menu-parent:hover .sub-menu {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

/* Homepage logo */
#logo {
  font-family: 'Comfortaa', cursive;
  font-size: 1.875em; /* 1.875em = 1.875x browser default font size */
  position: absolute;
  float: left;
  margin-top: 22px;
  margin-left: 75px;
}

/* Colour the content within this span silver */
#silver-firsthalf {
  color: #E6E6E6;
}

/* Colour the content within this span red */
#red-secondhalf {
  color: #ff3b3b;
}

/* Slogan */
#slogan {
  font-family: 'Comfortaa', cursive;
  font-size: 3.75em; /* 3.75em = 3.75x default font size */
  text-align: center;
  margin-top: 140px;
}

/* Timetable and tasks icons */
#big-buttons {
  text-align: center;
}

/* Tasks control bar */
#tasks-controls {
  width: 820px;
  height: 75px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-top: 95px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  background-color: #404040;
  display: block;
}

/* Tasks logo styling */
#tasks-logo {
  font-family: 'Nunito', cursive;
  font-size: 1.875em; /* 1.875em = 1.875x browser default font size */
  position: absolute;
  float: left;
  margin-top: 17px;
  margin-left: 22px;
}

/* Base styling for the sorting buttons */
.sort-buttons {
  width: auto;
  margin-top: 18px;
  margin-right: 18px;
  padding: 8px 8px;
  border: none;
  border-radius: 0px;
  float: right;
  cursor: pointer;
  background-color: #ff3b3b;
  font-family: 'Nunito', cursive;
  font-size: 1em;
  color: white;
  transition: 0.125s;
}

/* Darken colour on button hover */
.sort-buttons:hover {
  background-color: #bf2121;
}

/* Tasks wrapper */
#tasks-wrapper {
  height: 100%;
  width: 820px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 190px;
  background-color: transparent;
}

/* Base styling for a task 'card' */
.task {
  width: 400px;
  height: 250px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 20px;
  float: left;
  background-color: #404040;
  text-align: center;
}

/* Displaying the name/title of the task above its details */
.task-header {
  width: 360px;
  height: 40px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  line-height: 40px;
  background-color: #ff3b3b;
  text-align: center;
}

/* Formatting for the text details */
.task-name {
  font-family: "Nunito", cursive;
  font-size: 1.25em;
  color: #E6E6E6;
}

.task-subject, .task-date {
  font-family: "Nunito", cursive;
  font-size: 1.25em;
  color: #E6E6E6;
}

/* Task options div */
.task-options {
  width: 360px;
  height: auto;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #000000;
  text-align: center;
  display: block;
}

.edit-buttons {
  width: auto;
  margin-top: 18px;
  margin-left: 100px;
  margin-right: 18px;
  padding: 8px 8px;
  border: none;
  border-radius: 0px;
  float: left;
  cursor: pointer;
  background-color: #ff3b3b;
  font-family: 'Nunito', cursive;
  font-size: 1em;
  color: white;
  transition: 0.125s;
}

.delete-buttons {
  width: auto;
  margin-top: 18px;
  margin-right: 18px;
  padding: 8px 8px;
  border: none;
  border-radius: 0px;
  float: left;
  cursor: pointer;
  background-color: #ff3b3b;
  font-family: 'Nunito', cursive;
  font-size: 1em;
  color: white;
  transition: 0.125s;
}

.edit-buttons:hover, .delete-buttons:hover {
  background-color: #bf2121;
}

/* Add task 'card' */
#add-task {
  text-align: center;
  padding-top: 80px;
  padding-right: 125px;
}

/* Modal content divs */
.modal {
  display: none; /* By default, this window is hidden */
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); /* In case the opaque filter doesn't work, fall back to solid black */
  background-color: rgba(0,0,0,0.9); /* Opaque filter */
  padding-top: 13%;
}

/* Modal content */
.modal-content {
    background-color: #2b2b2b;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #2b2b2b;
    width: 600px; /* Could be more or less, depending on screen size */
    height: 390px;
}

/* Animation effect for zooming into the modal */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Overriding the submission fields to be full length */
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Submission buttons */
.submission-button {
  width: auto;
  margin-top: 18px;
  padding: 8px 8px;
  border: none;
  border-radius: 0px;
  float: right;
  cursor: pointer;
  background-color: #ff3b3b;
  font-family: 'Nunito', cursive;
  font-size: 1em;
  color: white;
  transition: 0.125s;
}

.submission-button:hover {
  background-color: #bf2121;
  transition: 0.125s;
}

/* Button for triggering the task creation modal */
#create-task, #edit-task {
  background-color: #2e8a37;
  float: right
}

#create-task:hover, #edit-task:hover {
  background-color: #23632a;
}

#new-task-cancel, #edit-cancel {
  float: right;
  margin-right: 20px;
}

/* Styling the modal windows themselves */
.modal-content-wrapper {
  padding: 20px;
  width: 100%;
}

.modal-label {
  font-family: 'Nunito', cursive;
  font-size: 1.25em;
  color: #E6E6E6;
}

.modal-input {
  font-family: 'Nunito', cursive;
  font-size: 1.25em;
  color: #1a1a1a;
}
